[submodule "luci-app-vssr"]
	path = luci-app-vssr
	url = https://github.com/jerrykuku/luci-app-vssr.git
[submodule "lua-maxminddb"]
	path = lua-maxminddb
	url = https://github.com/jerrykuku/lua-maxminddb.git
[submodule "luci-theme-argon"]
	path = luci-theme-argon-18.06
	url = https://github.com/jerrykuku/luci-theme-argon.git
	branch = 18.06
[submodule "luci-app-jd-dailybonus"]
	path = luci-app-jd-dailybonus
	url = https://github.com/jerrykuku/luci-app-jd-dailybonus.git
[submodule "luci-app-argon-config"]
	path = luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
